@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fcfcfc;
    --foreground: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1e1e1e;
        --foreground: #fcfcfc;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
